@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.App {
  text-align: center;
}
body{
  background-color: #202124;
}
.ClockIcon{
  display:inline
}
.HomeTitle{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.progressbar{
  width: 1000px;
  height: 24px;
  background-color: grey;
  margin-bottom: 50px;
}
.progressbar div {
  height: 100%;
  background-color: #85550E;
}
.QuestionsContainer{
  width: 1000px;
  margin: auto;
}
.Title{
  font-family: 'Poppins', sans-serif;
}
.SmallText{
  font-family: 'Quicksand', sans-serif;
}