@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}
body{
  background-color: #202124;
}
.ClockIcon{
  display:inline
}
.HomeTitle{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}